
@media (max-width: 767px) {
	.side-nav.affix {
		position: relative !important;
		top: 0px !important;
	}
}
@media (min-width: 768px) {
	.side-nav.affix {
		width: 145px;
		padding-right: 20px;
	}
}

.side-nav.affix {
	top: 75px;
}

pre {
	background-color: white !important;
}