body {
	font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

@media (max-width: 767px) {
	.side-nav.affix {
		position: relative !important;
		top: 0px !important;
	}
}
@media (min-width: 768px) {
	.side-nav.affix {
		width: 145px;
		padding-right: 20px;
	}
}

.side-nav.affix {
	top: 45px;
}

.code {
	margin-bottom: 1.3em;
	padding: 0.8em;
	overflow: auto;
	border: 1px solid #ccc;
	background-color: #eee;
	font-family: "Consolas", "Liberation Mono", Courier, monospace;
	font-size: 0.9em;
	color: #444;
	border-radius: 2px;
}



pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}