*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
.DS_Store
.cache
.sass-cache/
_site
.project
.buildpath
.idea
.settings
.svn
errors.err
nbproject
*.local.php
*.local
*.tmp
*.local.rb
.elasticbeanstalk/
logs/access_log
logs/error_log
Gemfile.lock
