container_commands:
  package-install:
    command: "/bin/bash .ebextensions/package-install.sh"
  package-install-configs:
    command: "/usr/bin/php .ebextensions/build-s3cfg.php"
  sync-s3:
    command: "/bin/bash .ebextensions/sync-s3.sh"
  build-config:
    command: "/usr/bin/php .ebextensions/build-config.php"