<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>WizeHive API Docs</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/normalize.css" />
	<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/foundation.css" />
	<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
	<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" />
</head>
<body>
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1><a href="/">WizeHive API Docs</a></h1>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul>
				<li class="divider hide-for-small"></li>
				<li>
					<a href="/rest-api">REST API Docs</a>
				</li>
				<li class="divider hide-for-small"></li>
				<li>
					<a href="/js-api">JS API Docs</a>
				</li>
			</ul>
		</section>
	</nav>

	{{ content }}

</body>
</html>