---
layout: default
---

<script type="text/javascript">

$(function(){

	updateActiveHashLink();

	// wait until html is loaded to fix the nav bar position
	$('.side-nav.affix').css('position', 'fixed');

	$(window).on('hashchange', function() {
		updateActiveHashLink();
	});

	function updateActiveHashLink() {

		var fragIdentifier = location.hash.substring(1);

		if (fragIdentifier) {
			$('.' + fragIdentifier).siblings().removeClass("active");
			$('.' + fragIdentifier).addClass("active");
		}
	}
});

</script>
<div class="row">
	<div class="large-2 columns">
		<ul class="side-nav affix">
			<li {% if page.group == 'intro' %}class="active"{% endif %}>
				<a href="{{site.baseurl}}/js-api">Introduction</a>
			</li>
			<li class="divider"></li>
			<li {% if page.group == 'getting-started' %}class="active"{% endif %}>
				<a href="{{site.baseurl}}/js-api/getting-started">Getting Started</a>
			</li>
			<li class="divider"></li>
			<li {% if page.group == 'wizehive-services' %}class="active"{% endif %}>
				<a href="{{site.baseurl}}/js-api/wizehive-services">Wizehive Services</a>
				<ul>
					<li class="message">
						<a href="{{site.baseurl}}/js-api/wizehive-services/#message">Message</a>
					</li>
					<li class="confirm">
						<a href="{{site.baseurl}}/js-api/wizehive-services/#confirm">Confirm</a>
					</li>
					<li class="modal">
						<a href="{{site.baseurl}}/js-api/wizehive-services/#modal">Modal</a>
					</li>
					<li class="plugin_events">
						<a href="{{site.baseurl}}/js-api/wizehive-services/#plugin_events">Plugin Events</a>
					</li>
					<li class="data">
						<a href="{{site.baseurl}}/js-api/wizehive-services/#data">Data</a>
						<ul>
							<li class="get">
								<a href="{{site.baseurl}}/js-api/wizehive-services/#get">Get</a>
							</li>
							<li class="query">
								<a href="{{site.baseurl}}/js-api/wizehive-services/#query">Query</a>
							</li>
							<li class="delete">
								<a href="{{site.baseurl}}/js-api/wizehive-services/#delete">Delete</a>
							</li>
							<li class="save">
								<a href="{{site.baseurl}}/js-api/wizehive-services/#save">Save</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="divider"></li>
			<li {% if page.group == 'third-party-services' %}class="active"{% endif %}>
				<a href="{{site.baseurl}}/js-api/third-party-services">Third Party Services</a>
				<ul>
					<li {% if page.subgroup == 'firebase' %}class="active"{% endif %}>
						<a href="{{site.baseurl}}/js-api/third-party-services/developing-plugins-with-firebase.html">$firebase</a>
					</li>
					<li {% if page.subgroup == 'ace-editor' %}class="active"{% endif %}>
						<a href="{{site.baseurl}}/js-api/third-party-services/ace-editor.html">Ace Editor</a>
					</li>
					<li {% if page.subgroup == 'ui-sortable' %}class="active"{% endif %}>
						<a href="{{site.baseurl}}/js-api/third-party-services/sortable.html">UI Sortable</a>
					</li>
				</ul>
			</li>
			<li class="divider"></li>
			<li {% if page.group == 'tutorials' %}class="active"{% endif %}>
				<a href="{{site.baseurl}}/js-api/tutorials">Tutorials</a>
				<ul>
					<li {% if page.subgroup == 'record-board' %}class="active"{% endif %}>
						<a href="{{site.baseurl}}/js-api/tutorials/record-board.html">Record Kanban Board</a>
						<ul>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/record-board.html">Part 1</a>
								<a href="{{site.baseurl}}/js-api/tutorials/record-board-2.html">Part 2</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li {% if page.subgroup == 'chat' %}class="active"{% endif %}>
						<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html">Chat Room</a>
						<ul>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html#get_api_data">Get API Data</a>
							</li>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html#wait_for_api_responses">Wait for API responses</a>
							</li>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html#connecting_to_firebase">Connecting to Firebase</a>
							</li>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html#adding_chat_messages_to_firebase">Saving to Firebase</a>
							</li>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html#using_a_directive_to_display_each_message">Message Display Directive</a>
							</li>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html#add_a_directive_to_auto_scroll_messages">Autoscroll Directive</a>
							</li>
							<li>
								<a href="{{site.baseurl}}/js-api/tutorials/building-a-chat-plugin.html#code">Code</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="large-10 columns">
		<div class="rest-api-docs-wrapper">
			{{content}}
		</div>
	</div>
</div>